<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfundamentals">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AndroidFundamentalsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AndroidFundamentalsTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".example9.SharedPrefActivity"/>
        <activity android:name=".ActivityLifecycle5" />
        <activity android:name=".ActivitySecondLifecycle5" />
        <activity android:name=".CarList4Activity" />
        <activity android:name=".Login3Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CarsOfTheDay4Activity" />
        <activity android:name=".StylesActivity7" />
        <activity android:name=".example8.RetrofitMainActivity" />
        <activity android:name=".example9.RoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>